.logout-button {
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c82333;
}


.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/public/dotted-world-map.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.image-container {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

.message {
  font-family: 'Arial, sans-serif';
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 4px;
}


  
  .dropdown-container {
    margin-bottom: 20px;
  }
  
  .centered-container {
    margin-top: 80px;
    display: flex;
    gap: 40px; /* Add a gap between the children elements */
  }
  
  .continue-button {
    margin-top: 20px; /* Add spacing between the dropdown buttons and the continue button */
    /* Add any other styles you want for the button */
    /* Example styles: */
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
