.app {
    position: relative;
  }
  
  .logout-button {
    position: absolute;
    top: 8px;
    right: 18px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #c82333;
  }
  